page-employee-dashboard {
    .popoverpos{
        position: absolute;
        right: -1px;
        width: 50px!important;
        top: 12px;
     
        background-color:transparent;
        
    }
    .button-md{
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.2)!important;
    }
}
